.facebook{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.instargam{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.x{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
